html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

#menu {
	position: fixed;
	top: 20px;
	left: 20px;
}

.alert {
	position: fixed;
	top: 10%;
	width: 90%;
	left: 5%;
	display: none;
}

.legend {
	top: 20px;
	right: 20px;
	position: fixed;
}


@media (max-width: 768px){
	#menu, .legend {
		font-size: 10px;
	}

	#menu {
		top: 10px;
		left: 10px;
	}

	.legend {
		top: 10px;
		right: 10px;
	}
}